node_modules/
package.json
package-lock.json
!/backend/package.json
!/backend/package-lock.json
!/lotto/package.json
!/lotto/package-lock.json
!/tellit-api/package.json
!/tellit-api/package-lock.json
